
body {
    font-family: 'Rock Salt', cursive;
    color: #f4f4f4;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 8;
}

body > h1{
    font-size: 46px;
    text-align: center;
}

#layout{
    display: flex;
}

#img {
    z-index: -1;
}

.button {
    background-color: aquamarine;
    padding: 1em 2em;
    color: black;
    border: 0;
}

.button:hover {
    background-color: blue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto; /* moves modal down up */
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,1.6);
    animation-name: modalopen;
    animation-duration: .5s;
}

.close-btn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}

.modal-header{
    background: #546683;
    padding: 15px;
    color: #fff;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-body{
    padding: 10px 20px;
    color: #546683;
}

.modal-footer{
    background: #546683;
    padding: 10px;
    color: #fff;
    font-size: 10px;
}


/********************/

#school-list {
    max-height: 600px;
    overflow: auto;
    list-style: none;
    line-height: 4;
}



/********************/
/*
#searchCurrent, #searchTarget {
    width: 30%;
    border: 1px solid #546683;
    cursor: pointer;
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #546683;
}

#searchCurrent:focus, #searchTarget:focus{
   color: #546683;
}

.searches{
    width: 100%;
    position: relative;
    display: flex;
}

#searchCurrentButton, #searchTargetButton {
    width: 20px;
    height: 20px;
    border: 1px solid #546683;
    background: #546683;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


.searches-parent {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fa-search{
    z-index: 1;
}
*/

#container-one, #container-two {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  #container-two{
    margin-top: 90px;
  }

  #container-one input#searchCurrent:focus, #container-two input#searchTarget:focus{
    outline-color: #546683;
  }

  #container-one input#searchCurrent, 
  #container-two input#searchTarget {
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  #container-one input#searchCurrent::-webkit-input-placeholder,
  #container-two input#searchTarget::-webkit-input-placeholder {
    color: #65737e;
 }

 #container-one input#searchCurrent:-ms-input-placeholder,
 #container-two input#searchTarget:-ms-input-placeholder {  
    color: #65737e;  
 }

.icon1{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }

  .icon2{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }